body{
	background-color: lavender;
}

.name{
	padding-left: 150px;
}

h1{
	margin-bottom: 50px;
}

.message{
	min-width: 350px;
	border: solid;
	background-color: #4E9C68;
	margin:px;
}

.post{
	background-color: #7CBB91;
	padding:1px 0px 1px;
}

.post p{
	background-color: #7CBB91;
	padding:4px 0px 1px 15px;
}


.comment{
	margin: 5px 0px 15px 35px;

}

p{
	margin:8px;
}

.submit{
	display:block;
	margin:5px 0px 2px 15px;
}

textarea{
	resize:vertical;
	margin-left: 15px;
}

form{
	display: inline-block;
	margin-left: 10px;
}

h3{
	margin: 0px 150px 0px 0px;
	padding: 0px;
	display: inline-block;
	text-align: left;
}

.delete{
	margin:5px 0px 2px 5px;
}
